afm-dw-backend/src/soap/wsdl/employee_prod.wsdl

<wsdl:definitions
	xmlns:ns0="urn:Employee"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:Employee">

    <wsdl:types>
        <xsd:schema targetNamespace="urn:Employee">
            <xsd:element name="Employee" type="ns0:RequestData" />

            <xsd:complexType name="RequestData">
                <xsd:sequence>
                    <xsd:element name="BIN" type="xsd:string"/>
					<xsd:element name="IIN" type="xsd:string"/>					
					<xsd:element name="OperationTypeId" type="xsd:int"/>
                </xsd:sequence>
            </xsd:complexType>

			<xsd:element name="EmployeeResponse" type="ns0:ResponseData" />

            <xsd:complexType name="ResponseData">
                <xsd:sequence>
                    <xsd:element name="MESSAGE" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </wsdl:types>
    
    <wsdl:message name="Employee_SoapIn">
		<wsdl:part element="ns0:Employee" name="parameters"></wsdl:part>
	</wsdl:message>

	<wsdl:message name="Employee_SoapOut">
		<wsdl:part element="ns0:EmployeeResponse" name="parameters"></wsdl:part>
	</wsdl:message>


    <wsdl:portType name="Employee_PortType">
		<wsdl:operation name="Employee">
			<wsdl:input message="ns0:Employee_SoapIn"></wsdl:input>
			<wsdl:output  message="ns0:Employee_SoapOut"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>


    <wsdl:binding name="Employee_Binding" type="ns0:Employee_PortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="Employee">
			<soap:operation soapAction="urn:Employee/Employee" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

    <wsdl:service name="Employee_Services">
        <wsdl:port binding="ns0:Employee_Binding" name="Employee_Soap">
			<soap:address location="http://192.168.122.120:8000/api/1.0/soap/employee"/>
		</wsdl:port>
    </wsdl:service>
</wsdl:definitions>